/* Taking font for text in buttons */

/* Facebook */
.fb-icon-bg {
	background: #354f88;
    height: 40px;
    margin: 8px 0 -40px 0;
    width: 41px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fb-icon-bg:after {
  content: url( ../images/icon-fb.png);
  display: block;
  padding: 9px 10px 5px 15px;
}

.fb-bg {
	color: #fff;
    background: #3b5998;
    height: 40px;
    margin-left: 41px;
    width: 258px;
    text-align: center;
    font-family: sans-serif;
    /*text-transform: uppercase;*/
    padding-top: 13px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;    
}

.fb-bg a{
	color: #fff;
	text-decoration: none;
}

.fb-bg:after {
	
	height: 40px;
	left: 0%;
	position: relative;

	top: 17%;
	width: 41px; 
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}

/* Google+ */
.g-icon-bg:after {
  content: url(../images/icon-g+.png);
  display: block;
  padding: 11px 10px 6px 13px;
}

.g-icon-bg {
    background: #ce3e26;
    height: 40px;
    margin: 8px 0 -40px 0;
    width: 41px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.g-bg {
    color: #fff;
    background: #de4c34;
    height: 40px;
    margin-left: 41px;
    width: 258px;
    text-align: center;
    font-family: sans-serif;
    /*text-transform: uppercase;*/
    padding-top: 13px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.g-bg a{
	color: #fff;
	text-decoration: none;
}
 
.g-bg:after {
	height: 40px;
	left: 0;
	position: relative;
	top: 17%;
	width: 250px; 
}

.g-bg:hover {
  cursor: pointer;
}

.g-bg:active {
  background: #ce3e26;
}
.login-separator{
  margin: 15px 0;
  color: #546184;
  text-align: center;
}
.form-container{
  width: 1000px; margin-left: auto; margin-right: auto;
}